/* Declare global variables */
:root {
    --link-hover-color: rgb(82, 82, 82);
    --title-font: "Roboto Mono", monospace;
    --body-font: "Roboto Slab", serif;
    --accent-color: rgb(234, 237, 237);
}

/* ----------Default: Portrait Mobile---------- */
/* ----------Global Styling---------- */

/* Styling for the header */

#title {
    text-align: center;
    font-size: 1.4em;
    /* letter-spacing: 0.15em; */
}


#navbar {
    width: 100%;
    background-color: var(--accent-color);
    overflow: hidden;
    box-sizing: border-box;
    padding: 12px;
    margin: 0;
    z-index: 100;
}

#navlist {
    list-style-type: none;
    width: 100%;
    display: table;
    table-layout: fixed;
    /* table-layout: auto; */
    margin: 0;
    padding: 0;
}

.navlistitem {
    display: table-cell;
    text-align: center;
    font-size: 0.8em;
    /* font-size: calc(0.4em + 0.8vw); */
}

.navlistitem a {
    text-decoration: none;
    color: black;
}

.navlistitem a:hover {
    color: var(--link-hover-color);
}

.nav-text-long {
    display: none;
}

.material-icons.md-20 { 
    font-size: 20px; 
    /* text-align: center; */
    vertical-align: text-bottom;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


h1 {
    font-size: 1.3em;
    margin-block-start: 18.6px;
    margin-block-end: 18.6px;
}

time {
    /* Date/Time given on recipes/posts */
    font-size: 1.2em;
}

h2 {
    font-size: 1.1em;
}

p {
    font-size: 1em;
    font-family: var(--body-font);
}

ul, ol {
    padding-left: 30px;
}

p a:hover {
    color: var(--link-hover-color);
}

li a:hover {
    color: var(--link-hover-color);
}


footer {
    text-align: right;
    margin: 2vw;
}


body {
    background-color: white;
    font-family: var(--title-font);
    overflow-x: hidden;
    margin: 0;
}


/* Tooltip styling */

.definition {
    visibility: hidden;
    width: 150px;
    background-color: rgb(234, 237, 237);
    color: black;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    /* top: -5px; */
    /* left: 110%; */
    top: 100%;
    left: 50%;
    margin-top: 10px;
    margin-left: -75px; /* Use half of width */
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip:hover {
    color: var(--link-hover-color);
}

.tooltip:hover .definition {
    visibility: visible;
    opacity: 1;
}

.tooltip .definition::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    right: 50%; 
    margin-top: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent var(--accent-color) transparent;
}


/* List Pages */


.title_summary a {
    font-family: var(--title-font);
    font-size: 1em;
    text-decoration: none;
    color: black;
    border-bottom: 1px black solid;

}

.title_summary a:hover {
    color: var(--link-hover-color);

}

.title_summary strong {
    font-family: var(--body-font);
}


.paginator {
    text-align: center;
    margin-top: 5vh;
}

/* ----------About---------- */
#index_page {
    text-align: center;
}
/* ----------Blog---------- */
/* ----------Food---------- */
.post, .list_page {
    margin: auto;
    width: 85%;
    /* height: 100%; */
}

/* ----------Photography---------- */
#photography_page {
    text-align: center;
}



/* ----------Code---------- */
p a {
    /* Used on code page to keep links black even after a click */
    color: black;

}


@media (min-width: 480px) {
/* ----------Landscape Mobile---------- */
    
    /* ----------Global Styling---------- */
    
    #title {
        font-size: 1.45em;
        letter-spacing: 0.15em;
    }

    .navlistitem {
        font-size: 0.85em;
    }

    h1 {
        font-size: 1.35em
    }
    
    time {
        /* Date/Time given on recipes/posts */
        font-size: 1.25em;
    }
    
    h2 {
        font-size: 1.15em;
    }
    
    .nav-text-long {
        display: inline-block;
    }

    .nav-text-short {
        display: none;
    }

    /* Change tooltip to right instead of below  */
    .definition {
        top: -5px;
        left: 110%;
        margin: 0px;
    }

    .tooltip .definition::after {
        top: 12%;
        right: 100%; /* To the left of the tooltip */
        border-color: transparent var(--accent-color) transparent transparent;
    }

    /* ----------About---------- */
    /* ----------Blog---------- */
    /* ----------Food---------- */
    .post, .list_page {
        margin: auto;
        width: 70%;
        height: 100%;
    }

    /* ----------Photography---------- */
    /* ----------Code---------- */
}
    
@media (min-width: 768px) {
/* --------Tablet-------- */

    /* ----------Global Styling---------- */
    #title {
        font-size: 1.5em;
    }

    .navlistitem {
        font-size: 0.9em;
    }

    h1 {
        font-size: 1.4em
    }
    
    time {
        /* Date/Time given on recipes/posts */
        font-size: 1.3em;
    }
    
    h2 {
        font-size: 1.2em;
    }
    
    /* ----------About---------- */
    /* ----------Blog---------- */
    /* ----------Food---------- */
    .post, .list_page {
        margin: auto;
        width: 60%;
        height: 100%;
    }

    /* ----------Photography---------- */
    /* ----------Code---------- */

}
    
    
@media (min-width: 1024px) {
/* Laptop+ */

    /* ----------Global Styling---------- */
    #title {
        font-size: 1.55em;
    }

    .navlistitem {
        font-size: 1em;
    }

    h1 {
        font-size: 1.45em
    }
    
    time {
        /* Date/Time given on recipes/posts */
        font-size: 1.35em;
    }
    
    h2 {
        font-size: 1.25em;
    }
    
    /* ----------About---------- */
    /* ----------Blog---------- */
    /* ----------Food---------- */
    .post, .list_page {
        margin: auto;
        width: 50%;
        height: 100%;
    }

    /* ----------Photography---------- */
    /* ----------Code---------- */

}
