/* Declare global variables */
:root {
    --link-hover-color: rgb(82, 82, 82);
    --title-font: "Roboto Mono", monospace;
    --body-font: "Roboto Slab", serif;
}


/* Global Styling */

h1 {
    font-size: calc(1em + 1vw);
}

p a {
    /* Used on code page to keep links black even after a click */
    color: black;
}

p a:hover {
    color: var(--link-hover-color);
}

li a:hover {
    color: var(--link-hover-color);
}

#photography_page {
    text-align: center;
}

#index_page {
    /* margin: auto;
    width: 50%;
    height: 100%; */
    text-align: center;
}


.paginator {
    text-align: center;
    margin-top: 5vw;
    /* bottom: 0; */
}

/* List Pages */

.list_page {
    margin: auto;
    width: 50%;
    height: 100%;  
}

.title_summary a {
    font-family: var(--title-font);
    font-size: 1em;
    text-decoration: none;
    color: black;
    border-bottom: 1px black solid;

}

.title_summary a:hover {
    color: var(--link-hover-color);

}

.title_summary strong {
    font-family: var(--body-font);
}

/* Tooltip styling */

.definition {
    visibility: hidden;
    width: 150px;
    background-color: rgb(234, 237, 237);
    color: black;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    opacity: 0;
    transition: opacity 0.5s;
}

.term {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.term:hover {
    color: var(--link-hover-color);
}

.term:hover .definition {
    visibility: visible;
    opacity: 1;
}


/* #TODO: Make Tooltip appear below if screen size is small*/


/* end */



time {
    font-size: 1.5em;
    /* font-weight: bold; */
}

.post {
    margin: auto;
    width: 50%;
    height: 100%;
}

footer {
    text-align: right;
    margin: 2vw;
}


body {
    background-color: white;
    font-family: var(--title-font);
    overflow-x: hidden;
    margin: 0;
}
p {
    font-family: var(--body-font);

}


/* Styling for the header */

#title {
    text-align: center;
    font-size: calc(1.2em + 1vw);
    letter-spacing: 0.2vw;
    word-spacing: 0.5vw;
}



#navbar {
    width: 100%;
    background-color: rgb(234, 237, 237);
    overflow: hidden;
    box-sizing: border-box;
    padding: calc(12px);
    margin: 0;
    z-index: 100;
}

#navlist {
    list-style-type: none;
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}

.navlistitem {
    display: table-cell;
    text-align: center;
    font-size: calc(0.4em + 0.8vw);
}

.navlistitem a {
    text-decoration: none;
    color: black;
}

.navlistitem a:hover {
    color: var(--link-hover-color);
}

.sticky {
    position: fixed;
    top: 0;
    opacity: 0.8;
    /* width: 100%; */
}

.buffer {
    margin-top: calc(55px + 3vw);
}





/* End styling for header */


/* Styling for recipe column on resize */
@media screen and (max-width: 600px) {
        .post {
            margin: auto;
            width: 90%;
        }
    }




/* End of Food Page */



/* Photography Page  */

.image_row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
  /* Create four equal columns that sits next to each other */
.image_column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    box-sizing: border-box;
    /* margin: 0 4px; */
}
  
.image_column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

img {
    image-orientation: from-image;
}
  
  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.image_column {
    flex: 50%;
    max-width: 50%;
    }
}

  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.image_column {
    flex: 100%;
    max-width: 100%;
    }
}


/* .image {
    width:30vw;
} */


/* End of photography page */